<% layout('/layouts/boilerplate') %>

<div class="auth-container">
  <div class="auth-card">

    <p class="auth-subtitle">Welcome back, please login to continue</p>
    <form method="POST" action="/login">

      <div class="form-group">
        <input type="text" name="username" required placeholder="Username">
      </div>

      <div class="form-group">
        <input type="password" name="password" required placeholder="Password">
      </div>

      <button class="auth-btn">Log In</button>
      
      <p class="auth-footer">
        Don’t have an account?
        <a href="/signup">Sign up</a>
      </p>

    </form>

  </div>
</div>